.App {
    background-color: white;
}

.wrap {
    display:table;
    height:100%;
}

/*Sidebar*/

.sidebar {
    display: table-cell;
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: lightgray;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .new-room {
    margin: 0 5px;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;
}

/*Messages*/

.chatspace {
    display: table-cell;
    width: 70%;
    height: 100%;
    padding: 10px;
    background-color: white;
    z-index: 1;
    /*overflow: scroll;*/
}

.message-body {
    padding-right: 10px;
}

.message-body .username {
    font-weight: bold;
}

.message-body .timestamp {
    float: right;
    padding-right: 100px;
}

.message-body .username .timestamp {
    display: inline-block;
}

.message-body .content {
    padding-bottom: 5px;
    display: inline-block;
}

.new-message-field {
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    width: 500px;
}
